aiofiles
aiohttp==3.9.5
apscheduler
asyncio
blackpink
cachetools
dnspython
ffmpeg-python
gpytranslate
gtts
httpx[http2]==0.27.2
lexica-api
motor
moviepy
numpy
opencv-python
openai
pillow
psutil
pyjokes
pytz
pyrofork
python-arq
python-telegram-bot
requests
rich
speedtest-cli
telegraph
telethon
tgcrypto
unidecode
uvloop
lyricsgenius
yt-dlp
youtube-search
youtube-search-python
beautifulsoup4
lyricsgenius==3.0.1
